<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to My store!!</title>
</head>
<body>
    <h1>Your store!!</h1>

    <h2 id="books"></h2>
    <h2 id="author"></h2>
    <img id="image" src="" alt="alt">

    <br>
    <br>

    <form id="formSubmit" action="post">
        <label for="title">title:</label>
        <input id="title" type="text" required>

        <label for="author">author:</label>
        <input id="autor" type="text" required>

        <label for="cover">cover:</label>
        <input id="cover" type="text" required>

        <label for="year">Year:</label>
        <input id="year_publicacion" type="number" required>

        <button type="submit">Submit</button>
    </form>


    <script src="products.js"></script>
    
</body>
</html>